@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.mat-toolbar-multiple-rows {
  min-height: 45px !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 45px !important;
}

table {
  width: 100%;
}

body .ui-inputtext {
  width: 100% !important;
}

body .ui-dropdown {
  width: 100% !important;
}

.ui-calendar {
  width: 100%;
}
body .ui-card {
  margin-top: 5px;
}

table.mat-table {
  margin-top: 5px !important;
}